In [1]:
import numpy as np
import getpass
import tensorflow as tf
import time
import pandas as pd
import matplotlib.pyplot as plt
from pymongo import MongoClient
from tqdm import tqdm
import re
from itertools import chain
import datetime
from fractions import Fraction
from collections import Counter
from pymongo import UpdateOne
import statistics
from collections import defaultdict
import dask.dataframe as dd
import html
import json
import copy

from transformers import AutoModelForSequenceClassification
from transformers import TFAutoModelForSequenceClassification
from transformers import AutoTokenizer, AutoConfig
from scipy.special import softmax

WARNING:tensorflow:From c:\ProgramData\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
filepath_book = "D:\\University\Môn học\Ứng dụng Big Data\Project\Datasets\Amazon Books Reviews\\books_data.csv"
# filepath = "D:\\University\Môn học\Ứng dụng Big Data\Project\Datasets\Amazon Books Reviews\Books_rating.csv"

df_book = pd.read_csv(filepath_book)
# df_review = pd.read_csv(filepath)

password = 'Ngthiennhan2002.'

In [3]:
# start_index = 0
# chunk_size = 375000

# for i in range(1, 9):
#     end_index = start_index + chunk_size
#     df_chunk = df_review.iloc[start_index:end_index]
#     file_name = f"D:\\University\\Môn học\\Ứng dụng Big Data\\Project\\Datasets\\Amazon Books Reviews\\Books_rating_{i}_375k.csv"
#     df_chunk.to_csv(file_name, index=False)
#     start_index = end_index

In [4]:
API_1 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.mhlvibl.mongodb.net/'
# API_1 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.yl3o8ez.mongodb.net/'
API_2 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.bzvhw41.mongodb.net/'
API_3 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.jrdv2e2.mongodb.net/'
API_4 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.tq84xea.mongodb.net/'
API_5 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.i2p6hb8.mongodb.net/'
API_6 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.ppuo86b.mongodb.net/'
API_7 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.xjtimov.mongodb.net/'
API_8 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.5ihto1h.mongodb.net/'
API_items = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.2qutpiu.mongodb.net/'

try:
    # Create two MongoDB clients using MongoClient with two APIs
    client_1 = MongoClient(API_1)
    client_2 = MongoClient(API_2)
    client_3 = MongoClient(API_3)
    client_4 = MongoClient(API_4)
    client_5 = MongoClient(API_5)
    client_6 = MongoClient(API_6)
    client_7 = MongoClient(API_7)
    client_8 = MongoClient(API_8)
    client_items = MongoClient(API_items)
    
    # Variables to save names of databases and collections
    database_name = 'db'
    review_collection_name = 'Reviews'
    book_collection_name = 'Books'
    author_collection_name = 'Authors'
    categories_collection_name = 'Categories'
    temp_collection_name = 'Temp'
    user_collection_name = 'Users'

    db_1 = client_1[database_name]
    review_collection_1 = db_1[review_collection_name]

    db_2 = client_2[database_name]
    review_collection_2 = db_2[review_collection_name]
    
    db_3 = client_3[database_name]
    review_collection_3 = db_3[review_collection_name]

    db_4 = client_4[database_name]
    review_collection_4 = db_4[review_collection_name]
    
    db_5 = client_5[database_name]
    review_collection_5 = db_5[review_collection_name]

    db_6 = client_6[database_name]
    review_collection_6 = db_6[review_collection_name]
    
    db_7 = client_7[database_name]
    review_collection_7 = db_7[review_collection_name]

    db_8 = client_8[database_name]
    review_collection_8 = db_8[review_collection_name]
    
    db_items = client_items[database_name]
    book_collection = db_items[book_collection_name]
    author_collection = db_items[author_collection_name]
    categories_collection = db_items[categories_collection_name]
    temp_collection = db_items[temp_collection_name]
    users_collection = db_items[user_collection_name]
except:
    print("Incorrect password or cannot connect to MongoDB at this time")
    
# Test if the documents are read successfully
print(review_collection_1.count_documents({}))
print(review_collection_2.count_documents({}))
print(review_collection_3.count_documents({}))
print(review_collection_4.count_documents({}))
print(review_collection_5.count_documents({}))
print(review_collection_6.count_documents({}))
print(review_collection_7.count_documents({}))
print(review_collection_8.count_documents({}))
print(book_collection.count_documents({}))

c:\ProgramData\anaconda3\Lib\site-packages\cryptography\x509\base.py:594: CryptographyDeprecationWarning: Parsed a negative serial number, which is disallowed by RFC 5280.
  return rust_x509.load_der_x509_certificate(data)

375000
304791
375000
375000
375000
375000
375000
375000
212404

In [5]:
# Get lengths of collections
total_book = book_collection.count_documents({})
total_review = 375000

# Convert book collection into pandas DataFrame (with progress bar)
# with tqdm(total=total_book, desc='Converting book collection') as pbar:
#     df_book = pd.DataFrame(list(book_collection.find()))
#     pbar.update(len(df_book))
#     pbar.close()

# with tqdm(total=total_review, desc='Converting review collection 1') as pbar:
#     df_review_1 = pd.DataFrame(list(review_collection_1.find()))
#     pbar.update(len(df_review_1))
#     pbar.close()

# with tqdm(total=total_review, desc='Converting review collection 2') as pbar:
#     df_review_2 = pd.DataFrame(list(review_collection_2.find()))
#     pbar.update(len(df_review_2))
#     pbar.close()
    
# with tqdm(total=total_review, desc='Converting review collection 3') as pbar:
#     df_review_3 = pd.DataFrame(list(review_collection_3.find()))
#     pbar.update(len(df_review_3))
#     pbar.close()

# with tqdm(total=total_review, desc='Converting review collection 4') as pbar:
#     df_review_4 = pd.DataFrame(list(review_collection_4.find()))
#     pbar.update(len(df_review_4))
#     pbar.close()
    
# with tqdm(total=total_review, desc='Converting review collection 5') as pbar:
#     df_review_5 = pd.DataFrame(list(review_collection_5.find()))
#     pbar.update(len(df_review_5))
#     pbar.close()

# with tqdm(total=total_review, desc='Converting review collection 6') as pbar:
#     df_review_6 = pd.DataFrame(list(review_collection_6.find()))
#     pbar.update(len(df_review_6))
#     pbar.close()
    
# with tqdm(total=total_review, desc='Converting review collection 7') as pbar:
#     df_review_7 = pd.DataFrame(list(review_collection_7.find()))
#     pbar.update(len(df_review_7))
#     pbar.close()

# with tqdm(total=total_review, desc='Converting review collection 8') as pbar:
#     df_review_8 = pd.DataFrame(list(review_collection_8.find()))
#     pbar.update(len(df_review_8))
#     pbar.close()

# print("--- Finished converting to DataFrame ---")

In [6]:
# Combine two df_review_1 and df_review_2
# with tqdm(total=total_review, desc='Combining 2 review collections') as pbar:
#     df_review = pd.concat([df_review_1, df_review_2, df_review_3, df_review_4, df_review_5, df_review_6, df_review_7, df_review_8])
#     pbar.update(len(df_review))
#     pbar.close()

## Preprocessing

In [7]:
def remove_special_characters(s):
    return re.sub(r'[^a-zA-Z0-9\s]', '', s)

Books

Trường Title\
Missing values: 1 book thiếu Title -> điền thủ công bằng cách vào Link\
Noises: Chuyển chuỗi về kí tự thường và loại bỏ các kí tự đặc biệt

In [8]:
# # count = 0

# # for temp in temp_collection.find():
# #     if temp['field'] == 'book_title':
# #         temp_id = temp['_id']
# #         count = int(temp['value'])
# #         break

# progress_bar = tqdm(total=total_book, desc='Preprocessing book collection\'s Title', position=0)

# title_list = []

# for book in book_collection.find():
#     title = book['Title']
#     if type(title) is not str: 
#         title = str(title)
#     title = title.lower()
#     title = remove_special_characters(title)
#     title = re.sub(r'\s+', ' ', title)
#     title_list.append(({'_id': book['_id']}, {'$set': {'Title': title}}))
#         # temp_collection.update_one({'_id': temp_id}, {'$set': {'value': count}})
#     progress_bar.update(1)
    
# progress_bar.close()
# # temp_collection.update_one({'_id': temp_id}, {'$set': {'value': 0}})

In [9]:
# # Tạo danh sách yêu cầu cập nhật
# update_requests = []
# for title in title_list:
#     update_requests.append(
#         UpdateOne(
#             title[0],
#             title[1],
#         )
#     )
    
# print(update_requests[:5])

# # # Thực hiện bulk write
# # result = book_collection.bulk_write(update_requests)

Trường Description
- Missing values: Bỏ qua
- Noises: Chuyển chuỗi về chữ thường và loại bỏ các kí tự đặc biệt

In [10]:
# progress_bar = tqdm(total=total_book, desc='Preprocessing book collection\'s Description', position=0)

# description_list = []

# for book in book_collection.find():
#     if 'description' in book:
#         description = str(book['description'])
#         description = description.lower()
#         description = remove_special_characters(description)
#         description = re.sub(r'\s+', ' ', description)
#         description_list.append(({'_id': book['_id']}, {'$set': {'description': description}}))
#     # temp_collection.update_one({'_id': temp_id}, {'$set': {'value': count}})
#     progress_bar.update(1)

# progress_bar.close()
# # temp_collection.update_one({'_id': temp_id}, {'$set': {'value': 0}})

In [11]:
# # Tạo danh sách yêu cầu cập nhật
# update_requests = []
# for description in description_list:
#     update_requests.append(
#         UpdateOne(
#             description[0],
#             description[1],
#         )
#     )
    
# print(update_requests[:5])

# # # Thực hiện bulk write
# # result = book_collection.bulk_write(update_requests)

Trường Authors và Categories
- Missing values: Bỏ qua
- Tạo danh sách chuỗi các tác giả
- Noises: Chuyển chuỗi về chữ thường, loại bỏ các kí tự đặc biệt và xử lý các biến thể tên tác giả

In [12]:
# authors = []
# categories = []

# for author in author_collection.find():
#     author_id = author['_id']
#     authors.append(({'_id': author_id}, {'$set': {'Value': author['Value']}}))
    
# for category in categories_collection.find():
#     category_id = category['_id']
#     categories.append(({'_id': category_id}, {'$set': {'Value': category['Value']}}))

In [13]:
# progress_bar = tqdm(total=author_collection.count_documents({}), desc='Preprocessing Authors\'s collection', position=0)

# author_list = []

# for author in author_collection.find():
#     author_name = author['Value']
#     if author_name:
#         author_name = author_name.lower()
#         author_name = remove_special_characters(author_name)
#         author_name = re.sub(r'\s+', ' ', author_name)
#         author_list.append(({'_id': author['_id']}, {'$set': {'Value': author_name}}))
#     # author_list.append({'_id': temp_id}, {'$set': {'Value': count}})
#     progress_bar.update(1)

# progress_bar.close()
# # temp_collection.update_one({'_id': temp_id}, {'$set': {'value': 0}})

In [14]:
# # Tạo danh sách yêu cầu cập nhật
# update_requests = []
# for author in author_list:
#     update_requests.append(
#         UpdateOne(
#             {'_id': author[0]['_id']},
#             {'$set': {'Value': author[1]['$set']['Value']}},
#         )
#     )
    
# print(update_requests[:5])

# # # Thực hiện bulk write
# result = author_collection.bulk_write(update_requests)

Trường Category

In [15]:
# progress_bar = tqdm(total=categories_collection.count_documents({}), desc='Preprocessing Categories\'s collection', position=0)

# category_list = []

# for category in categories_collection.find():
#     category_name = category['Value']
#     category_name = category_name.lower()
#     category_name = remove_special_characters(category_name)
#     category_name = re.sub(r'\s+', ' ', category_name)
#     category_list.append(({'_id': category['_id']}, {'$set': {'Value': category_name}}))
#     # temp_collection.update_one({'_id': temp_id}, {'$set': {'Value': count}})
#     progress_bar.update(1)

# progress_bar.close()

In [16]:
# # Tạo danh sách yêu cầu cập nhật
# update_requests = []

# for category in category_list:
#     update_requests.append(
#         UpdateOne(
#             category[0],
#             category[1],
#         )
#     )
    
# print(update_requests[:5])

# # # Thực hiện bulk write
# result = categories_collection.bulk_write(update_requests)

Trường Publisher
- Missing values: Bỏ qua
- Noises: Loại bỏ kí tự đặc biệt, chuyển từ chữ hoa sang chữ thường

In [17]:
# progress_bar = tqdm(total=total_book, desc='Preprocessing book collection\'s Publisher', position=0)

# publisher_list = []

# for book in book_collection.find():
#     if 'publisher' in book:
#         publisher = book['publisher']
#         # print(publisher)
#         if type(publisher) is int:
#             publisher = str(publisher)
#         publisher = publisher.lower()
#         publisher = remove_special_characters(publisher)
#         publisher = re.sub(r'\s+', ' ', publisher)
#         publisher_list.append(({'_id': book['_id']}, {'$set': {'publisher': publisher}}))
#         # temp_collection.update_one({'_id': temp_id}, {'$set': {'value': count}})
#     progress_bar.update(1)
    
# progress_bar.close()
# # temp_collection.update_one({'_id': temp_id}, {'$set': {'value': 0}})

In [18]:
# # Tạo danh sách yêu cầu cập nhật
# update_requests = []
# for publisher in publisher_list:
#     update_requests.append(
#         UpdateOne(
#             publisher[0],
#             publisher[1],
#         )
#     )
    
# print(update_requests[:5])

# # # Thực hiện bulk write
# result = book_collection.bulk_write(update_requests)

Trường publishedDate

In [19]:
# from datetime import datetime

# def convert_to_datetime(date_str):
#     formats = ['%Y', '%Y-%m', '%m-%Y', '%Y-%m-%d', '%m-%d-%Y', '%Y/%m/%d', '%Y-%m-%d %H:%M:%S', '%Y-%m-%d %H:%M:%S.%f', '%Y-%m-%d %H:%M', '%m/%d/%Y', '%d/%m/%Y']
#     if isinstance(date_str, datetime):
#         return date_str
    
#     if isinstance(date_str, int):
#         date_str = str(date_str)
        
#     for fmt in formats:
#         try:
#             date_obj = datetime.strptime(date_str, fmt)
#             if fmt.count('%') == 1:
#                 return date_obj.strftime('%Y')
#             elif fmt.count('%') == 2:
#                 return date_obj.strftime('%Y-%m')
#             else:
#                 return date_obj.strftime('%Y-%m-%d')
#         except ValueError:
#             pass
#     return None
    
# count = 0

# a = []

# progress_bar = tqdm(total=total_book-count, desc='Preprocessing book collection\'s Published Date', position=0)

# for book in book_collection.find().skip(count):
#     if 'publishedDate' in book:
#         publishedDate = book['publishedDate']
#         if publishedDate:
#             try:
#                 publishedDate = convert_to_datetime(publishedDate)
#                 # book_collection.update_one({'_id': book['_id']}, {'$set': {'publishedDate': publishedDate}})
#                 a.append(({'_id': book['_id']}, {'$set': {'publishedDate': publishedDate}}))
#             except ValueError:
#                 print("Error")
#         count += 1
#         # temp_collection.update_one({'_id': temp_id}, {'$set': {'value': count}})
#     progress_bar.update(1)
    
# progress_bar.close()
# # temp_collection.update_one({'_id': temp_id}, {'$set': {'value': 0}})

In [20]:
# # Tạo danh sách yêu cầu cập nhật
# update_requests = []

# published_date_list = a

# for published_date in published_date_list:
#     update_requests.append(
#         UpdateOne(
#             published_date[0],
#             published_date[1],
#         )
#     )
    
# print(update_requests[:5])

# # # Thực hiện bulk write
# result = book_collection.bulk_write(update_requests)

Trường Title (của Reviews)

In [21]:
review_collections = [review_collection_1,
                     review_collection_2,
                     review_collection_3,
                     review_collection_4,
                     review_collection_5,
                     review_collection_6,
                     review_collection_7,
                     review_collection_8]

In [22]:
# for index, review_collection in enumerate(review_collections):
    
#     print(f'--- Preprocessing title of review collection {index + 1} ---')
#     title_list = []
    
#     progress_bar = tqdm(total=review_collection.count_documents({}), desc='Preprocessing review collection\'s Title', position=0)
    
#     for index_2, review in enumerate(review_collection.find()):
#         if 'Title' in review:
#             title = review['Title']
#             if type(title) is not str: 
#                 title = str(title)
#             # title = title.lower()
#             # title = remove_special_characters(title)
#             title = re.sub(r'\s+', ' ', title)
#             title_list.append(({'_id': review['_id']}, {'$set': {'Title': title}}))
#         # temp_collection.update_one({'_id': temp_id}, {'$set': {'value': count}})
#         progress_bar.update(1)
        
#     progress_bar.close()
    
#     # Tạo danh sách yêu cầu cập nhật
#     update_requests = []
    
#     for title in title_list:
#         update_requests.append(
#             UpdateOne(
#                 title[0],
#                 title[1],
#             )
#         )
        
#     print(update_requests[:5])

#     # # Thực hiện bulk write
#     # result = review_collection.bulk_write(update_requests)

Trường review/count và trường review/average_score

In [23]:
# # Sử dụng defaultdict để tổ chức dữ liệu theo 'Title'
# title_data = defaultdict(list)

# # Thu thập dữ liệu từ các collection
# for review_collection in review_collections:
#     documents = review_collection.find({'review/score': {'$exists': True}})
    
#     progress_bar = tqdm(total=review_collection.count_documents({}), desc='Preprocessing review scores', position=0)
    
#     for document in documents:
#         if 'Title' in document:
#             title = document['Title']
#             title_data[title].append(document['review/score'])
#             progress_bar.update(1)

#     progress_bar.close()

In [24]:
# progress_bar = tqdm(total=len(title_data), desc='Calculating review scores', position=0)

# new_book_scores_list = list()

# for title, scores_list in title_data.items():
#     count_reviews = len(scores_list)
#     if scores_list:
#         mean_score = statistics.mean(scores_list)
#         median_score = statistics.median(scores_list)
#         mode_score = statistics.mode(scores_list)
#     else:
#         mean_score, median_score, mode_score = 0, 0, 0
        
#     book_score_info = ({'Title': title}, {'$set': {'review/mean_score': mean_score, 
#                                                        'review/median_score': median_score,
#                                                        'review/mode_score': mode_score,
#                                                        'review/count': count_reviews}})
#     new_book_scores_list.append((book_score_info))

#     progress_bar.update(1)

# progress_bar.close()

In [25]:
# # Tạo danh sách yêu cầu cập nhật
# update_requests = []

# for book in new_book_scores_list:
#     update_requests.append(
#         UpdateOne(
#             book[0],
#             book[1],
#         )
#     )
    
# print(update_requests[:5])

# # Thực hiện bulk write
# # result = book_collection.bulk_write(update_requests)

Reviews

- Noises: Đã thực hiện ở trên
- Missing values: Fill theo 'Id' nếu có 'Id' nào chứa Title đó. nếu không có để trống

In [26]:
# # Sử dụng defaultdict để tổ chức dữ liệu theo 'Title'
# id_data = defaultdict(list)

# progress_bar = tqdm(total=len(review_collections), desc='Preprocessing miss Review Titles', position=0)

# # Thu thập dữ liệu từ các collection
# for review_collection in review_collections:
#     documents = review_collection.find({})
    
#     null_titles = review_collection.find({'Title': {'$exists': False}})
    
#     for document in null_titles:
#         existed_titles_by_id_1 = review_collection_1.find({'Id': document['Id'], 'Title': {'$exists': True}})
#         existed_titles_by_id_2 = review_collection_2.find({'Id': document['Id'], 'Title': {'$exists': True}})
#         existed_titles_by_id_3 = review_collection_3.find({'Id': document['Id'], 'Title': {'$exists': True}})
#         existed_titles_by_id_4 = review_collection_4.find({'Id': document['Id'], 'Title': {'$exists': True}})
#         existed_titles_by_id_5 = review_collection_5.find({'Id': document['Id'], 'Title': {'$exists': True}})
#         existed_titles_by_id_6 = review_collection_6.find({'Id': document['Id'], 'Title': {'$exists': True}})
#         existed_titles_by_id_7 = review_collection_7.find({'Id': document['Id'], 'Title': {'$exists': True}})
#         existed_titles_by_id_8 = review_collection_8.find({'Id': document['Id'], 'Title': {'$exists': True}})
        
#         for existed_review in existed_titles_by_id_1:
#             print(existed_review)
#         for existed_review in existed_titles_by_id_2:
#             print(existed_review)
#         for existed_review in existed_titles_by_id_3:
#             print(existed_review)
#         for existed_review in existed_titles_by_id_4:
#             print(existed_review)
#         for existed_review in existed_titles_by_id_5:
#             print(existed_review)
#         for existed_review in existed_titles_by_id_6:
#             print(existed_review)
#         for existed_review in existed_titles_by_id_7:
#             print(existed_review)
#         for existed_review in existed_titles_by_id_8:
#             print(existed_review)
    
#     progress_bar.update(1)
#     # Tạo danh sách yêu cầu cập nhật
#     # update_requests = []

#     # for published_date in published_date_list:
#     #     update_requests.append(
#     #         UpdateOne(
#     #             published_date[0],
#     #             published_date[1],
#     #         )
#     #     )
        
#     # print(update_requests[:5])

#     # # Thực hiện bulk write
#     # result = review_collection.bulk_write(update_requests)

# progress_bar.close()

Kết luận: Không có Title bị khuyết nào có thể được điền thông qua chỉ số Id

Trường review/helpfulness
- Chuyển từ dạng a/b thành dạng float
- Thay missing values = 0

In [27]:
# for index, review_collection in enumerate(review_collections):
    
#     print(f'--- Preprocessing title of review collection {index + 1} ---')
#     helpfulness_list = []
    
#     progress_bar = tqdm(total=review_collection.count_documents({}), desc='Preprocessing review collection\'s Helpfulness', position=0)
    
#     for index_2, review in enumerate(review_collection.find()):
#         if 'review/helpfulness' in review:
#             helpfulness_string = review['review/helpfulness']
#             helpfulness_string = helpfulness_string.split('/')
#             numerator = int(helpfulness_string[0])
#             denominator = int(helpfulness_string[1])
            
#             # Nếu mẫu bằng 0
#             if denominator == 0.0 or numerator == 0.0:
#                 helpfulness_value = 0.0
#             else:
#                 helpfulness_value = numerator / denominator
#                 if helpfulness_value > 1.0: # Xử lý các outlier lớn hơn 1
#                     helpfulness_value = 1.0
#         else:
#             helpfulness_value = 0.0

#         helpfulness_list.append(({'_id': review['_id']}, {'$set': {'review/helpfulness': helpfulness_value}}))
#         progress_bar.update(1)
        
#     progress_bar.close()
    
#     # Tạo danh sách yêu cầu cập nhật
#     update_requests = []
    
#     for helpfulness in helpfulness_list:
#         update_requests.append(
#             UpdateOne(
#                 helpfulness[0],
#                 helpfulness[1],
#             )
#         )
        
#     print(update_requests[:5])

#     # Thực hiện bulk write
#     result = review_collection.bulk_write(update_requests)

Xây dựng Model:
- SENTIMENT ANALYSIS đối với review/summary và review/text (RoBERTa-base model): biến chuỗi text thành dạng về một số (1: POS, 0: NEU, -1: NEG)
- Tìm keyword của phần Description (BERT) (VD: Từ đoạn text "Harry Potter this year fights Lord Voldemort and his Death Eaters" -> ["Harry Potter", "Lord Voldemort", "Death Eaters"] -> "Harry Potter Lord Voldemort Death Eaters") -> Tính TF-IDF của phần Description giữa review input và toàn bộ review trong database -> Cho ra similarity với Description đầu vào
- Tính TF-IDF các mục Authors, Title, Categories -> Cho ra similarity với Authors, Title, Categories đầu vào 
- Tính kNN (cosine similarity) giữa vector review vừa được thêm vào với tất cả review còn lại rồi trả về top 10 quyển có chỉ số sim cao nhất

Cuối cùng là display nó lên cho người dùng xem

In [28]:
# df_reviews = []

# for index, review_collection in enumerate(review_collections):
#     print(f' --- Start converting review collection {index + 1} ---')
#     df_review = pd.DataFrame(list(review_collection.find()))
    
#     dd_review = dd.from_pandas(df_review, npartitions=4)
#     print(f' --- Done converting review collection {index + 1} ---')

In [29]:
# df_reviews = df.concat(df_reviews)
# df_book = book_collection.find()

In [30]:
# df_book_selected = df_book.loc[:, ['Title', 'authors', 'categories', 'description', 'review/count', 'review/mean_score', 'review/median_score', 'review/mode_score']]
# df_reviews_selected = df_reviews.loc[:, ['Title', 'User_id', 'review/score', 'review/summary', 'review/text']]
# merged_df = pd.merge(df_reviews_selected, df_book_selected, on='Title', how='inner')

# merged_df.head(2)

In [31]:
# merged_df.to_csv('D:\University\Môn học\Ứng dụng Big Data\Project\Datasets\Amazon Books Reviews\all.csv')

Load file all.csv lên lại để đưa vào mô hình

In [32]:
# Preprocess text (username and link placeholders)
def preprocess(text):
    new_text = []
    for t in text.split(" "):
        t = '@user' if t.startswith('@') and len(t) > 1 else t
        t = 'http' if t.startswith('http') else t
        new_text.append(t)
    return " ".join(new_text)
MODEL = f"cardiffnlp/twitter-roberta-base-sentiment-latest"
tokenizer = AutoTokenizer.from_pretrained(MODEL)
config = AutoConfig.from_pretrained(MODEL)
# PT
model_sentiment = AutoModelForSequenceClassification.from_pretrained(MODEL)
#model.save_pretrained(MODEL)

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [33]:
def sentiment_analysis(text):
    # text = "This is only for Julie Strain fans. It's a collection of her photos -- about 80 pages worth with a nice section of paintings by Olivia.If you're looking for heavy literary content, this isn't the place to find it -- there's only about 2 pages with text and everything else is photos.Bottom line: if you only want one book, the Six Foot One ... is probably a better choice, however, if you like Julie like I like Julie, you won't go wrong on this one either."
    text = preprocess(text)
    encoded_input = tokenizer(text, return_tensors='pt')
    output = model_sentiment(**encoded_input)
    scores = output[0][0].detach().numpy()
    scores = softmax(scores)

    ranking = np.argsort(scores)
    ranking = ranking[::-1]

    highest_score = max(scores)
    label = config.id2label[ranking[0]]
    
    if label == 'positive':
        sentiment = 1
    elif label == 'neutral':
        sentiment = 0
    elif label == 'negative':
        sentiment = -1

    return sentiment

In [34]:
# ffile = pd.read_csv("D:\\University\Môn học\Ứng dụng Big Data\Project\Datasets\Amazon Books Reviews\\all.csv")

# ffile['sentiment'] = ''

# ffile.to_csv("D:\\University\Môn học\Ứng dụng Big Data\Project\Datasets\Amazon Books Reviews\\all.csv")

In [35]:
# df_all = pd.read_csv("D:\\University\Môn học\Ứng dụng Big Data\Project\Datasets\Amazon Books Reviews\\all.csv")
#                     #  chunksize=CHUNK_SIZE,)

In [36]:
# import json

# count = int(3500000 / CHUNK_SIZE)

# sentiment_list = []

# progress_bar = tqdm(total=count, desc=f'Processing Sentiment Analysis...', position=0)

# with open('sentiment.json', 'w') as json_file:
    
#     for chunk in df_all:
        
#         for index, row in chunk.iterrows():
            
#             review_text = html.unescape(row['review/text'])
            
#             title = row['Title']
#             if title == '' or title == None:
#                 continue
            
#             user_id = str(row['User_id'])
#             if user_id == '' or user_id == None:
#                 user_id = ''
            
#             if review_text == '' or review_text == None:
#                 sentiment = 0
#                 break

#             sentiment_score, label = sentiment_analysis(review_text[:max_length])

#             if label == 'positive':
#                 sentiment = 1
#             elif label == 'neutral':
#                 sentiment = 0
#             elif label == 'negative':
#                 sentiment = -1
                
#             sentiment_json = {'Title': title, 'User_id': user_id, 'sentiment': sentiment}
#             json.dump(sentiment_json, json_file)
#             json_file.write(',\n')
#         progress_bar.update(1)
        
#     progress_bar.close()

In [37]:
# max_length = 512

# count = 0
# sentiment_list = []

# for review_collection in review_collections:

#     reviews = review_collection.find()
#     existed_num = review_collection.count_documents({'sentiment': {'$exists': True}})
#     progress_bar = tqdm(total= (total_review - existed_num), desc=f'Processing Sentiment Analysis...', position=0)
    
#     for review in reviews.skip(existed_num):
        
#         review_text = html.unescape(str(review['review/text']))
        
#         if review_text == '' or review_text is None:
#             sentiment = 0
#         else:
#             sentiment_score, label = sentiment_analysis(review_text[:max_length])
#             if label == 'positive':
#                 sentiment = 1
#             elif label == 'neutral':
#                 sentiment = 0
#             elif label == 'negative':
#                 sentiment = -1
                
#         sentiment_list.append(({'_id': review['_id']}, {'$set': {'sentiment': sentiment}}))
        
#         if count % 1000 == 0:
#             update_requests = []

#             for sentiment in sentiment_list:
#                 update_requests.append(
#                     UpdateOne(
#                         sentiment[0],
#                         sentiment[1]
#                     )
#                 )

#             # Thực hiện bulk write
#             result = review_collection_1.bulk_write(update_requests)
#             sentiment_list = []
            
#         count += 1
        
#         progress_bar.update(1)
        
#     progress_bar.close()

Get all User Ids

In [38]:
# # user_list = []

# # for review_collection in review_collections:
# #     progress_bar = tqdm(total=review_collection.count_documents({'User_id': {'$exists': True}}), desc='Getting users', position=0)

# #     reviews = review_collection.find({'User_id': {'$exists': True}})

# #     for review in reviews:
# #         user_list.append(review['User_id'])
# #         progress_bar.update(1)
        
# #     progress_bar.close()
# user_list = []

# progress_bar = tqdm(total=users_collection.count_documents({'User_id': {'$exists': True}}), desc='Getting User id', position=0)

# users = users_collection.find({'User_id': {'$exists': True}})

# for user in users:
#     user_list.append(user['User_id'])
#     progress_bar.update(1)
    
# progress_bar.close()

In [39]:
# title_list = []

# progress_bar = tqdm(total=book_collection.count_documents({'Title': {'$exists': True}}), desc='Getting titles', position=0)

# books = book_collection.find({'Title': {'$exists': True}})

# for book in books:
#     title_list.append(book['Title'])
#     progress_bar.update(1)
    
# progress_bar.close()

In [40]:
# new_documents = [{'User_id': user_id} for user_id in user_list]

# # Chèn các document mới vào collection
# result = users_collection.insert_many(new_documents)

In [41]:
# # df = pd.DataFrame(index=list(user_list), columns=title_list, dtype=int)
# # print(df.memory_usage(index=True).sum())
# # matrix = np.zeros((1000, 212404))
# # memory_usage = matrix.nbytes

# # # Chuyển đổi dung lượng bộ nhớ sang đơn vị GB
# # memory_usage_gb = memory_usage / (1024**3)

# selected_title = []
# selected_books  = book_collection.find({'categories': {'$regex': 'fiction'}})
# for book in selected_books:
#     selected_title.append(book['Title'])
# print(selected_title[:5])

In [42]:


# progress_bar = tqdm(total=len(selected_title), desc='Getting user scores...', position=0)

# # Tìm số sao theo từng title
# for title in selected_title:
#     title_and_users = [title]
#     # Tìm trong 8 collection các review của quyển sách đó
#     for review_collection in review_collections:
#         found_reviews = review_collection.find({'Title': title})
#         # Lấy thông tin của từng review đó
#         for review in found_reviews:
#             if 'User_id' in review:
#                 user_score = {review['User_id']: review['review/score']}
#                 title_and_users.append(user_score)
#     user_item_list.append(title_and_users)
#     progress_bar.update(1)
    
# progress_bar.close()

In [43]:
# from keras.models import Sequential
# from keras.layers import Dense, Dropout
# from keras.utils import to_categorical
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler, OneHotEncoder

# data = df_all
# y = data['review/score']
# X = data.drop('review/score', axis=1)
# print(X.head(2))

In [44]:
# from gensim.models import Word2Vec
# import nltk
# nltk.download('punkt')

# # Tokenize các review
# data['tokenized_title'] = data['Title'].apply(nltk.word_tokenize)

# # Huấn luyện mô hình Word2Vec
# model = Word2Vec(data['tokenized_title'], min_count=1)

# # Lấy vector đại diện cho từ 'book'
# vector = model.wv['book']


# # X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # scaler = StandardScaler()
# # X_train = scaler.fit_transform(X_train)
# # X_test = scaler.transform(X_test)

# # # Xây dựng mô hình
# # model = Sequential()
# # model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))
# # model.add(Dropout(0.5))
# # model.add(Dense(64, activation='relu'))
# # model.add(Dropout(0.5))
# # model.add(Dense(1))

# # # Huấn luyện mô hình
# # model.compile(loss='mean_squared_error', optimizer='adam')
# # model.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_test, y_test))

In [45]:
df_all = pd.read_csv("D:\\University\Môn học\Ứng dụng Big Data\Project\Datasets\Amazon Books Reviews\\all.csv")
                    #  chunksize=CHUNK_SIZE,)
                    
df_all.drop(df_all.columns[[0,1]], axis=1, inplace=True)
df_all.dropna(subset=['User_id', 'Title', 'categories'], inplace=True)
df_all.drop(['review/summary', 'review/text', 'authors', 'description', 'review/median_score', 'review/mode_score', 'sentiment'], axis=1, inplace=True)
df_all.drop_duplicates(inplace = True)
df_all.shape

(1620425, 6)

In [46]:
df_all.head()

,Title,User_id,review/score,categories,review/count,review/mean_score
0,its only art if its well hung,AVCGYZL8FQQTD,4.0,['comics graphic novels'],1.0,4.000000
1,dr seuss american icon,A30TK6U7DNS82R,5.0,['biography autobiography'],9.0,4.555556
2,dr seuss american icon,A3UH4UZ4RSVO82,5.0,['biography autobiography'],9.0,4.555556
3,dr seuss american icon,A2MVUWT453QH61,4.0,['biography autobiography'],9.0,4.555556
4,dr seuss american icon,A22X4XUPKF66MR,4.0,['biography autobiography'],9.0,4.555556

In [47]:
'''
Tạo one hot encoding vector đối với top các category
'''
sample_size = 10000
data = df_all.sample(sample_size)
data.shape
Categories = ['Fiction', 'Religion', 'History', 'Juvenile Fiction', 'Biography & Autobiography', 'Business & Economics', 'Computers', 'Social Science', 'Juvenile Nonfiction', 'Science', 'Education', 'Cooking', 'Sports & Recreation', 'Family & Relationships', 'Literary Criticism', 'Music', 'Medical', 'Art', 'Body, Mind & Spirit', 'Language Arts & Disciplines', 'Health & Fitness', 'Political Science', 'Psychology', 'Philosophy', 'Travel', 'Technology & Engineering', 'Self-Help', 'Poetry', 'Foreign Language Study', 'Crafts & Hobbies', 'Performing Arts', 'Reference', 'Mathematics', 'Comics & Graphic Novels', 'Nature', 'Architecture', 'Transportation', 'Law', 'Humor', 'Photography', 'American literature', 'Antiques & Collectibles', 'Drama', 'Bibles', 'Pets', 'Literary Collections', 'Young Adult Fiction', 'Games', 'Gardening', 'Study Aids', 'Games & Activities', 'House & Home', 'English language', 'United States', 'True Crime', 'Design', 'Great Britain', 'Animals']
for index, category in enumerate(Categories):
    category = category.lower()
    category = remove_special_characters(category)
    category = re.sub(r'\s+', ' ', category)
    Categories[index] = category

title_set = set([row['Title'] for i, row in data.iterrows()])

df_categories = pd.DataFrame(columns=Categories)
df_categories = pd.DataFrame({col: [0] * len(title_set) for col in Categories})

for i, title in enumerate(title_set):
    df_categories.at[i, 'Title'] = title 

for i, row in data.iterrows():
    title = row['Title']
    categories = row['categories'][2:-2]
    
    if categories in Categories:
        df_categories.loc[df_categories['Title'] == title, categories] = 1
        
        
df_categories.head(3)

,fiction,religion,history,juvenile fiction,biography autobiography,business economics,computers,social science,juvenile nonfiction,science,...,study aids,games activities,house home,english language,united states,true crime,design,great britain,animals,Title
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,perfect secretary
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,the spanish prisoner and the winslow boy two s...
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,chicken soup for the fishermans soul fish tale...

In [48]:
'''
Tạo 3 dataframe tương ứng với thông tin sách, thông tin user, thông tin ratings
'''
df_combined = data.merge(df_categories, on='Title')
df_combined.drop(['categories'], axis=1, inplace=True)
df_combined.head(2)
df_ratings = copy.deepcopy(df_combined)
df_ratings.drop(['review/count', 'review/mean_score'], axis=1, inplace=True)

# Tính tổng và trung bình review/score theo User_id
df_user = df_combined.groupby('User_id')['review/score'].agg(['count', 'mean'])
df_user.columns = ['count', 'mean']
df_user.reset_index(inplace=True)
# print(user_review_summary.head(2))

# total_review_user = user_review_summary.loc[user_review_summary['total_review'] > 1, 'total_review']
# print(total_review_user)
df_book = df_combined.drop(['User_id', 'review/score'], axis=1, inplace=True)
df_book = df_combined.drop(Categories, axis=1, inplace=True)
df_book = df_combined.drop_duplicates('Title')

# df_combined.drop(['review/count', 'review/mean_score'], axis=1, inplace=True)

In [49]:
# Set user id mới
user_id_map = {user_id: i for i, user_id in enumerate(df_user['User_id'].unique())}
df_user['new_user_id'] = df_user['User_id'].map(user_id_map)
df_user.head(2)

                 User_id  count  mean  new_user_id
0   A0160198NNRLD37TTP2P      1   4.0            0
1  A08604952BQMNOFP9OIUX      1   5.0            1

In [50]:
# Set book id mới
book_id_map = {book_id: i for i, book_id in enumerate(df_book['Title'].unique())}
df_book['new_book_id'] = df_book['Title'].map(book_id_map)
df_book.head(2)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_22108\2291317216.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_book['new_book_id'] = df_book['Title'].map(book_id_map)

,Title,review/count,review/mean_score,new_book_id
0,afghanistan a russian soldiers story,61.0,4.639344,0
1,reiki energy medicine bringing healing touch i...,16.0,4.250000,1

In [51]:
# Cập nhật user id và book id mới
df_ratings = df_ratings.merge(df_user, on='User_id').merge(df_book, on='Title')
df_ratings.head(2)

,Title,User_id,review/score,fiction,religion,history,juvenile fiction,biography autobiography,business economics,computers,...,true crime,design,great britain,animals,count,mean,new_user_id,review/count,review/mean_score,new_book_id
0,afghanistan a russian soldiers story,A14Z24E7W0HT84,5.0,0,0,1,0,0,0,0,...,0,0,0,0,1,5.0,369,61.0,4.639344,0
1,reiki energy medicine bringing healing touch i...,A2S94UYOSEJGB,5.0,0,0,0,0,0,0,0,...,0,0,0,0,1,5.0,4450,16.0,4.250000,1

In [52]:
# Xóa đi các cột Title và User_id cũ
df_user.drop(['User_id'], axis=1, inplace=True)
df_book.drop(['Title'], axis=1, inplace=True)
df_ratings.drop(['Title', 'User_id'], axis=1, inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_22108\3330095002.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_book.drop(['Title'], axis=1, inplace=True)

In [53]:
# Hàm chia data thành tập train và test
def split_dataframe(df, holdout_fraction=0.1):
  test = df.sample(frac=holdout_fraction, replace=False)
  train = df[~df.index.isin(test.index)]
  return train, test

Build a tf.SparseTensor of the Rating Matrix

In [54]:
def build_rating_sparse_tensor(df_ratings):
    indices = df_ratings[['new_user_id', 'new_book_id']].values
    values = df_ratings['review/score'].values
    return tf.SparseTensor(
        indices=indices,
        values=values,
        dense_shape=[df_user.shape[0],
                     df_book.shape[0]]
    )

Mean Squared Error

In [55]:
def sparse_mean_square_error(sparse_ratings, user_embeddings, book_embeddings):
    predictions = tf.reduce_sum(
        tf.gather(user_embeddings, sparse_ratings.indices[:, 0]) * 
        tf.gather(book_embeddings, sparse_ratings.indices[:, 1]),
        axis=1
    )
    loss = tf.losses.mean_squared_error(sparse_ratings.values, predictions)
    return loss

In [62]:
class CFModel(object):
    def __init__(self, embedding_vars, loss, metrics=None):
        self._embedding_vars = embedding_vars
        self._loss = loss
        self._metrics = metrics
        self._embeddings = {k: None for k in embedding_vars}
        self._session = None

    @property
    def embeddings(self):
        return self._embeddings

    def train(self, num_iterations=100, learning_rate=1.0, plot_results=True, optimizer=tf.keras.optimizers.SGD):
        opt = optimizer(learning_rate)

        local_init_op = tf.group(
          tf.variables_initializer(opt.variables()),
          tf.local_variables_initializer())
        if self._session is None:
            self._session = tf.compat.v1.Session()
            with self._session.as_default():
                self._session.run(tf.compat.v1.global_variables_initializer())
                self._session.run(tf.compat.v1.tables_initializer())

        local_init_op.run()
        iterations = []
        metrics = self._metrics or ({},)
        metrics_vals = [defaultdict(list) for _ in self._metrics]

        for i in range(num_iterations + 1):
            with tf.GradientTape() as tape:
                loss_val = self._loss()  # Đảm bảo `_loss` trả về một scalar
            gradients = tape.gradient(loss_val, list(self._embedding_vars.values()))
            opt.apply_gradients(zip(gradients, list(self._embedding_vars.values())))

            _, results = self._session.run((loss_val, metrics))
            if i % 10 == 0 or i == num_iterations:
                print("\r iteration %d: " % i + ", ".join(["%s=%f" % (k, v) for r in results for k, v in r.items()]), end='')
                iterations.append(i)
                for metric_val, result in zip(metrics_vals, results):
                    for k, v in result.items():
                        metric_val[k].append(v)

        for k, v in self._embedding_vars.items():
            self._embeddings[k] = v.eval()

        if plot_results:
            num_subplots = len(metrics+1)
            fig = plt.figure()
            fig.set_size_inches(num_subplots * 10, 8)
            for i, metric_vals in enumerate(metrics_vals):
                ax = fig.add_subplot(1, num_subplots, i+1)
                for k, v in metric_vals.items():
                    ax.plot(iterations, v, label=k)
                ax.set_xlim([1, num_iterations])
                ax.legend()
        return results

In [63]:
def build_model(ratings, embedding_dim=3, init_stddev=1.):
  # Split the ratings DataFrame into train and test.
  train_ratings, test_ratings = split_dataframe(ratings)
  # SparseTensor representation of the train and test datasets.
  A_train = build_rating_sparse_tensor(train_ratings)
  A_test = build_rating_sparse_tensor(test_ratings)
  # Initialize the embeddings using a normal distribution.
  U = tf.Variable(tf.random.normal(
      [A_train.dense_shape[0], embedding_dim], stddev=init_stddev))
  V = tf.Variable(tf.random.normal(
      [A_train.dense_shape[1], embedding_dim], stddev=init_stddev))
  train_loss = sparse_mean_square_error(A_train, U, V)
  test_loss = sparse_mean_square_error(A_test, U, V)
  metrics = {
      'train_error': train_loss,
      'test_error': test_loss
  }
  embeddings = {
      "new_user_id": U,
      "new_movie_id": V
  }
  return CFModel(embeddings, train_loss, [metrics])

In [64]:
model = build_model(df_ratings, embedding_dim=30, init_stddev=0.5)
model.train(num_iterations=1000, learning_rate=10.)

AttributeError: module 'tensorflow' has no attribute 'variables_initializer'

In [ ]:
# from scipy.sparse import csr_matrix

# users = data['User_id'].unique()
# items = data['Title'].unique()

# # Tạo từ điển ánh xạ giữa user hoặc item và chỉ mục của chúng trong mảng NumPy
# user_dict = {user: i for i, user in enumerate(users)}
# item_dict = {item: i for i, item in enumerate(items)}
# average_rating_dict = {row['Title']: row['review/mean_score'] for i, row in data.iterrows()}

# # Xây dựng ma trận người dùng-sản phẩm
# user_item_matrix = csr_matrix((len(users), len(items)), dtype=float)

# # Điền giá trị đánh giá vào ma trận
# for _, row in data.iterrows():
#     user_index = user_dict.get(row['User_id'])
#     item_index = item_dict.get(row['Title'])
#     user_item_matrix[user_index, item_index] = row['review/score']

c:\ProgramData\anaconda3\Lib\site-packages\scipy\sparse\_index.py:100: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
  self._set_intXint(row, col, x.flat[0])

In [ ]:
# print(len(user_dict))
# print(len(item_dict))
# print(len(average_rating_dict))

9302
6195
6195

In [ ]:
# print(user_item_matrix[:10])

  (0, 0)	5.0
  (1, 1)	5.0
  (2, 2)	5.0
  (3, 3)	4.0
  (4, 4)	1.0
  (5, 5)	5.0
  (6, 6)	5.0
  (7, 7)	4.0
  (8, 8)	5.0
  (9, 9)	4.0

In [ ]:
# count = 0
# # In ra cặp key-value đầu tiên của từ điển
# for key, value in average_rating_dict.items():
#     if count == 10:
#         break
#     print(f"{key}: {value}")
#     count += 1

poland 1939 the birth of blitzkrieg campaign: 4.769230769230769
the other boleyn girl: 4.28584729981378
brave new world: 4.235266159695818
the 21st century investor investing for your childs college education: 4.0
day of reckoning the massacre at columbine high school: 1.2857142857142858
the day after roswell the truth exposed after fifty years: 3.898989898989899
the kids campfire book: 4.818181818181818
invisible monsters a novel: 4.213333333333333
anna karenina television tiein edition signet classics: 4.461538461538462
the burgess animal book for children: nan

UBCF:\
Tính toán giá trị rating dự đoán của toàn bộ sách đối với một user target.\
Tìm top k=10 sách có giá trị rating cao nhất và đề xuất

In [ ]:
# k = 10

# r_mean = list(average_rating_dict.values())

Giá trị sentiment:
- Positive: 1
- Neutral: 0
- Negative: -1

In [ ]:
# data['Sentiment'] = data['review/text'].apply(lambda review: sentiment_analysis(review[:512]))
# data.head()

In [ ]:
# data.drop(['User_id', 'review/summary', 'review/text', 'authors', 'categories', 'description', 'review/count', 'review/mean_score', 'review/median_score', 'review/mode_score', 'sentiment'], axis=1, inplace=True)
# data.head()

                                                     Title  review/score
1127126       poland 1939 the birth of blitzkrieg campaign           5.0
134979                               the other boleyn girl           5.0
359255                                     brave new world           5.0
3234538  the 21st century investor investing for your c...           4.0
2439700  day of reckoning the massacre at columbine hig...           1.0

In [ ]:
# from gensim.models import Word2Vec

# # Chuẩn bị dữ liệu đầu vào
# titles = data['Title']

# # Huấn luyện mô hình Word2Vec
# model_w2v = Word2Vec(sentences=titles.str.lower().str.split(), vector_size=1, window=5, min_count=1, workers=4)

# # Áp dụng Word2Vec vào mỗi tiêu đề trong dataframe
# data['Title_Embedding'] = data['Title'].apply(lambda title: model_w2v.wv[str(title).lower().split()])
# data['Title_Embedding'] = data['Title_Embedding'].apply(lambda embedding: np.array(embedding).flatten())

In [ ]:
# data.head(20)

,Title,review/score,Title_Embedding
1127126,poland 1939 the birth of blitzkrieg campaign,5.0,"[-0.6957804, -0.060058255, 7.994793, 1.5919697..."
134979,the other boleyn girl,5.0,"[7.994793, 1.9857986, 0.7660866, 1.9958899]"
359255,brave new world,5.0,"[0.782776, 5.6055765, 4.4388776]"
3234538,the 21st century investor investing for your c...,4.0,"[7.994793, -0.22492482, 1.4023304, -0.08699676..."
2439700,day of reckoning the massacre at columbine hig...,1.0,"[1.2522843, 7.602487, -0.24409083, 7.994793, -..."
3184295,the day after roswell the truth exposed after ...,5.0,"[7.994793, 1.2522843, 1.6834279, -0.13873205, ..."
3062932,the kids campfire book,5.0,"[7.994793, 0.08365127, -0.7417103, 6.460596]"
3041107,invisible monsters a novel,4.0,"[0.11386006, 0.98627627, 7.5766444, 3.8376641]"
772972,anna karenina television tiein edition signet ...,5.0,"[0.07227795, 0.65132666, 0.7224068, 0.3157225,..."
1528193,the burgess animal book for children,4.0,"[7.994793, 0.057889283, -0.06820843, 6.460596,..."
359439,brave new world,5.0,"[0.782776, 5.6055765, 4.4388776]"
776397,a treasury of polish aphorisms,5.0,"[7.5766444, -0.011404766, 7.602487, -0.676352,..."
776266,george orwell animal farmnineteen eightyfour,3.0,"[1.4786904, -0.001132373, -0.06820843, 0.19463..."
2383045,sawyers crossing,4.0,"[1.0009639, -0.07176844]"
1041255,the castle of crossed destinies,3.0,"[7.994793, 1.1627675, 7.602487, -0.1807647, -0..."
2599844,hurricane hex charmed,4.0,"[0.2597214, -0.87995964, -0.7297379]"
1564142,of mice and men,5.0,"[7.602487, 1.4221145, 8.663713, 1.4675212]"
1642030,midnights children,4.0,"[-0.29859564, 1.8128812]"
1242533,the very virile viking,2.0,"[7.994793, -0.24859513, 0.6708194, 0.88274646]"
2389823,seven pillars of wisdom a triumph,5.0,"[1.6567646, 0.87894434, 7.602487, 1.7742407, 7..."

In [ ]:
# data.drop(['Title'], axis=1, inplace=True)
# data.head()

In [ ]:
# data['Title_Embedding_Sum'] = data['Title_Embedding'].apply(lambda embedding: np.sum(embedding))
# data['Title_Embedding_Sum'].head()
# data['Title_Embedding_Mean'] = data['Title_Embedding'].apply(lambda embedding: np.mean(embedding))
# data['Title_Embedding_Mean'].head()

1127126    2.514557
134979     3.185642
359255     3.609077
3234538    2.676221
2439700    2.656196
Name: Title_Embedding_Mean, dtype: float32

In [ ]:
# from keras.models import Sequential
# from keras.layers import Dense, Dropout
# from sklearn.model_selection import train_test_split

# # Chia dữ liệu thành features (X) và target (y)
# X = data[['Sentiment', 'Title_Embedding_Sum', 'Title_Embedding_Mean']]
# y = data['review/score']

# # # Chia dữ liệu thành tập huấn luyện và tập kiểm tra
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Khởi tạo mô hình mạng nơ-ron
# model = tf.keras.models.Sequential([
#       tf.keras.layers.Flatten(),
#       tf.keras.layers.Dense(128, activation='relu'),
#       tf.keras.layers.Dropout(0.2),
#       tf.keras.layers.Dense(5, activation='softmax')
# ])

# # Compile mô hình với loss function là 'mean_squared_error' và optimizer là 'adam'
# model.compile(loss='mean_squared_error',
#               optimizer='adam', 
#               metrics=['accuracy'])

# # Huấn luyện mô hình trên tập huấn luyện
# history = model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.2)

# # Đánh giá hiệu suất của mô hình trên tập kiểm tra
# mse = model.evaluate(X_test, y_test)
# print("Mean Squared Error:", mse)

KeyError: "['Sentiment'] not in index"

In [ ]:
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.metrics import accuracy_score

# # Khởi tạo mô hình KNN với k = 3 (có thể điều chỉnh giá trị k tùy ý)
# knn_model = KNeighborsClassifier(n_neighbors=10)

# # Huấn luyện mô hình trên tập huấn luyện
# knn_model.fit(X_train, y_train)

# # Dự đoán trên tập kiểm tra
# y_pred = knn_model.predict(X_test)

# # Đánh giá hiệu suất của mô hình bằng độ chính xác
# accuracy = accuracy_score(y_test, y_pred)
# print("Accuracy:", accuracy)

Accuracy: 0.5765

In [ ]:
# new_title = 'harry potter and the chamber of secrets'

# new_title_embedding = model_w2v.wv[str(new_title).lower().split()]
# new_title_embedding = np.array(new_title_embedding).flatten()
# new_title_embedding_sum = np.sum(new_title_embedding)
# new_title_embedding_mean = np.mean(new_title_embedding)

# new_review = 'This book is great'
# new_sentiment = sentiment_analysis(new_review)

# distances, indices = knn_model.kneighbors([[new_sentiment, new_title_embedding_sum, new_title_embedding_mean]])

# for i, book_index in enumerate(indices):
#     print(f"Top 10 nearest neighbors for book {i + 1}:")
#     for j, neighbor_index in enumerate(book_index):
#         neighbor_title = data.iloc[neighbor_index]['Title']
#         neighbor_score = y_train.iloc[neighbor_index]
#         print(f"Neighbor {j + 1}: {neighbor_title} (review score: {neighbor_score})")
#     print()

Top 10 nearest neighbors for book 1:
Neighbor 1: gods little acre (review score: 2.0)
Neighbor 2: recipes for longer life (review score: 5.0)
Neighbor 3: the hobbit (review score: 5.0)
Neighbor 4: serpents walk (review score: 5.0)
Neighbor 5: dharma beads making and using your own buddhist malas (review score: 5.0)
Neighbor 6: child behavior (review score: 4.0)
Neighbor 7: why revival tarries (review score: 4.0)
Neighbor 8: crucible the (review score: 5.0)
Neighbor 9: small dolls of the 40s and 50s identification and value guide (review score: 5.0)
Neighbor 10: the golden compass (review score: 4.0)

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(