In [4]:
import numpy as np
import getpass
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
import time
import pandas as pd
import matplotlib.pyplot as plt
from pymongo import MongoClient
from tqdm import tqdm
import re
from itertools import chain
import datetime
from fractions import Fraction
from collections import Counter
from pymongo import UpdateOne
import statistics
from collections import defaultdict
import html
import json
import copy
from IPython import display
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.3f}'.format

from transformers import AutoModelForSequenceClassification
from transformers import TFAutoModelForSequenceClassification
from transformers import AutoTokenizer, AutoConfig
from scipy.special import softmax

import streamlit as st
from streamlit_jupyter import StreamlitPatcher, tqdm
StreamlitPatcher().jupyter()  # register streamlit with jupyter-compatible wrappers

WARNING:tensorflow:From C:\Users\ASUS\AppData\Local\Temp\ipykernel_20188\3730047766.py:4: The name tf.disable_v2_behavior is deprecated. Please use tf.compat.v1.disable_v2_behavior instead.

WARNING:tensorflow:From c:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\tensorflow\python\compat\v2_compat.py:98: disable_resource_variables (from tensorflow.python.ops.resource_variables_toggle) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [3]:
# filepath_book = "D:\\University\Môn học\Ứng dụng Big Data\Project\Datasets\Amazon Books Reviews\\books_data.csv"
# filepath = "D:\\University\Môn học\Ứng dụng Big Data\Project\Datasets\Amazon Books Reviews\Books_rating.csv"

# df_book = pd.read_csv(filepath_book)
# df_review = pd.read_csv(filepath)

password = 'Ngthiennhan2002.'

In [4]:
API_1 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.mhlvibl.mongodb.net/'
# API_1 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.yl3o8ez.mongodb.net/'
API_2 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.bzvhw41.mongodb.net/'
API_3 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.jrdv2e2.mongodb.net/'
API_4 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.tq84xea.mongodb.net/'
API_5 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.i2p6hb8.mongodb.net/'
API_6 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.ppuo86b.mongodb.net/'
API_7 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.xjtimov.mongodb.net/'
API_8 = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.5ihto1h.mongodb.net/'
API_items = f'mongodb+srv://ngthiennhan2002:{password}@cluster0.2qutpiu.mongodb.net/'

try:
    # Create two MongoDB clients using MongoClient with two APIs
    client_1 = MongoClient(API_1)
    client_2 = MongoClient(API_2)
    client_3 = MongoClient(API_3)
    client_4 = MongoClient(API_4)
    client_5 = MongoClient(API_5)
    client_6 = MongoClient(API_6)
    client_7 = MongoClient(API_7)
    client_8 = MongoClient(API_8)
    client_items = MongoClient(API_items)

    # Variables to save names of databases and collections
    database_name = 'db'
    review_collection_name = 'Reviews'
    book_collection_name = 'Books'
    author_collection_name = 'Authors'
    categories_collection_name = 'Categories'
    temp_collection_name = 'Temp'
    user_collection_name = 'Users'

    db_1 = client_1[database_name]
    review_collection_1 = db_1[review_collection_name]

    db_2 = client_2[database_name]
    review_collection_2 = db_2[review_collection_name]

    db_3 = client_3[database_name]
    review_collection_3 = db_3[review_collection_name]

    db_4 = client_4[database_name]
    review_collection_4 = db_4[review_collection_name]

    db_5 = client_5[database_name]
    review_collection_5 = db_5[review_collection_name]

    db_6 = client_6[database_name]
    review_collection_6 = db_6[review_collection_name]

    db_7 = client_7[database_name]
    review_collection_7 = db_7[review_collection_name]

    db_8 = client_8[database_name]
    review_collection_8 = db_8[review_collection_name]

    db_items = client_items[database_name]
    book_collection = db_items[book_collection_name]
    author_collection = db_items[author_collection_name]
    categories_collection = db_items[categories_collection_name]
    temp_collection = db_items[temp_collection_name]
    users_collection = db_items[user_collection_name]
except:
    print("Incorrect password or cannot connect to MongoDB at this time")

# Test if the documents are read successfully
print(review_collection_1.count_documents({}))
print(review_collection_2.count_documents({}))
print(review_collection_3.count_documents({}))
print(review_collection_4.count_documents({}))
print(review_collection_5.count_documents({}))
print(review_collection_6.count_documents({}))
print(review_collection_7.count_documents({}))
print(review_collection_8.count_documents({}))
print(book_collection.count_documents({}))

375000
304791
375000
375000
375000
375000
375000
375000
212404

In [5]:
# Get lengths of collections
total_book = book_collection.count_documents({})
total_review = 375000

# from google.colab import drive
# drive.mount('/content/drive')
# !unzip '/content/drive/My Drive/File/Amazon Books Reviews.zip' -d '/dataset'

# Convert book collection into pandas DataFrame (with progress bar)
# with tqdm(total=total_book, desc='Converting book collection') as pbar:
#     df_book = pd.DataFrame(list(book_collection.find()))
#     pbar.update(len(df_book))
#     pbar.close()

# with tqdm(total=total_review, desc='Converting review collection 1') as pbar:
#     df_review_1 = pd.DataFrame(list(review_collection_1.find()))
#     pbar.update(len(df_review_1))
#     pbar.close()

# with tqdm(total=total_review, desc='Converting review collection 2') as pbar:
#     df_review_2 = pd.DataFrame(list(review_collection_2.find()))
#     pbar.update(len(df_review_2))
#     pbar.close()

# with tqdm(total=total_review, desc='Converting review collection 3') as pbar:
#     df_review_3 = pd.DataFrame(list(review_collection_3.find()))
#     pbar.update(len(df_review_3))
#     pbar.close()

# with tqdm(total=total_review, desc='Converting review collection 4') as pbar:
#     df_review_4 = pd.DataFrame(list(review_collection_4.find()))
#     pbar.update(len(df_review_4))
#     pbar.close()

# with tqdm(total=total_review, desc='Converting review collection 5') as pbar:
#     df_review_5 = pd.DataFrame(list(review_collection_5.find()))
#     pbar.update(len(df_review_5))
#     pbar.close()

# with tqdm(total=total_review, desc='Converting review collection 6') as pbar:
#     df_review_6 = pd.DataFrame(list(review_collection_6.find()))
#     pbar.update(len(df_review_6))
#     pbar.close()

# with tqdm(total=total_review, desc='Converting review collection 7') as pbar:
#     df_review_7 = pd.DataFrame(list(review_collection_7.find()))
#     pbar.update(len(df_review_7))
#     pbar.close()

# with tqdm(total=total_review, desc='Converting review collection 8') as pbar:
#     df_review_8 = pd.DataFrame(list(review_collection_8.find()))
#     pbar.update(len(df_review_8))
#     pbar.close()

# print("--- Finished converting to DataFrame ---")

In [6]:
# Combine two df_review_1 and df_review_2
# with tqdm(total=total_review, desc='Combining 2 review collections') as pbar:
#     df_review = pd.concat([df_review_1, df_review_2, df_review_3, df_review_4, df_review_5, df_review_6, df_review_7, df_review_8])
#     pbar.update(len(df_review))
#     pbar.close()

## Preprocessing

In [7]:
def remove_special_characters(s):
    return re.sub(r'[^a-zA-Z0-9\s]', '', s)

Books

Trường Title\
Missing values: 1 book thiếu Title -> điền thủ công bằng cách vào Link\
Noises: Chuyển chuỗi về kí tự thường và loại bỏ các kí tự đặc biệt

Trường Description
- Missing values: Bỏ qua
- Noises: Chuyển chuỗi về chữ thường và loại bỏ các kí tự đặc biệt

Trường Authors và Categories
- Missing values: Bỏ qua
- Tạo danh sách chuỗi các tác giả
- Noises: Chuyển chuỗi về chữ thường, loại bỏ các kí tự đặc biệt và xử lý các biến thể tên tác giả

In [8]:
df_all = pd.read_csv('D:\\University\Môn học\Ứng dụng Big Data\Project\Datasets\Amazon Books Reviews\\all.csv')
df_all.shape

df_all.drop(df_all.columns[[0,1]], axis=1, inplace=True)
df_all.dropna(subset=['User_id', 'Title'], inplace=True)
df_all.drop(['review/summary', 'review/text', 'authors', 'description', 'review/median_score', 'review/mode_score', 'sentiment'], axis=1, inplace=True)
df_all.drop_duplicates(inplace = True)
df_all.head()

,Title,User_id,review/score,categories,review/count,review/mean_score
0,its only art if its well hung,AVCGYZL8FQQTD,4.000,['comics graphic novels'],1.000,4.000
1,dr seuss american icon,A30TK6U7DNS82R,5.000,['biography autobiography'],9.000,4.556
2,dr seuss american icon,A3UH4UZ4RSVO82,5.000,['biography autobiography'],9.000,4.556
3,dr seuss american icon,A2MVUWT453QH61,4.000,['biography autobiography'],9.000,4.556
4,dr seuss american icon,A22X4XUPKF66MR,4.000,['biography autobiography'],9.000,4.556

In [9]:
Categories = ['Others', 'Fiction', 'Religion', 'History', 'Juvenile Fiction', 'Biography & Autobiography', 'Business & Economics', 'Computers', 'Social Science', 'Juvenile Nonfiction', 'Science', 'Education', 'Cooking', 'Sports & Recreation', 'Family & Relationships', 'Literary Criticism', 'Music', 'Medical', 'Art', 'Body, Mind & Spirit', 'Language Arts & Disciplines', 'Health & Fitness', 'Political Science', 'Psychology', 'Philosophy', 'Travel', 'Technology & Engineering', 'Self-Help', 'Poetry', 'Foreign Language Study', 'Crafts & Hobbies', 'Performing Arts', 'Reference', 'Mathematics', 'Comics & Graphic Novels', 'Nature', 'Architecture', 'Transportation', 'Law', 'Humor', 'Photography', 'American literature', 'Antiques & Collectibles', 'Drama', 'Bibles', 'Pets', 'Literary Collections', 'Young Adult Fiction', 'Games', 'Gardening', 'Study Aids', 'Games & Activities', 'House & Home', 'English language', 'United States', 'True Crime', 'Design', 'Great Britain', 'Animals']
for index, category in enumerate(Categories):
    category = category.lower()
    category = remove_special_characters(category)
    category = re.sub(r'\s+', ' ', category)
    Categories[index] = category

In [10]:
# '''
# Tạo one hot encoding vector đối với top các category
# '''
# sample_size = 1000
# skip = 0

# # df_categories = pd.read_csv('df_categories.csv')

# progress_bar = tqdm(total=len(df_all), desc='Processing DF_CATEGORIES', position=0)

# while True:
#     if skip + sample_size > len(df_all):
#         data = df_all.iloc[skip:len(df_all)]
#         break
#     else:
#         data = df_all.iloc[skip:skip+sample_size]

#     title_set = set([row['Title'] for i, row in data.iterrows()])

#     df_categories = pd.DataFrame(columns=Categories)
#     df_categories = pd.DataFrame({col: [0] * len(title_set) for col in Categories})

#     for i, title in enumerate(title_set):
#         df_categories.at[i, 'Title'] = title

#     for i, row in data.iterrows():
#         title = row['Title']
#         categories = str(row['categories'])[2:-2]

#         if categories in Categories:
#             df_categories.loc[df_categories['Title'] == title, categories] = 1
#         else:
#             df_categories.loc[df_categories['Title'] == title, 'others'] = 1
#         progress_bar.update(1)

#     # df_categories['new_column'] = df_categories.apply(lambda row: row['categories'] if row['categories'][2:-2] in Categories else None, axis=1)
#     # df_categories.apply(lambda row: [row.__setitem__(category, 1) for category in Categories if category in row['categories']], axis=1)

#     if skip == 0:
#         df_categories.to_csv('df_categories.csv', mode='a', index=False)
#     else:
#         df_categories.to_csv('df_categories.csv', mode='a', index=False, header=False)

#     skip += sample_size

# progress_bar.close()

In [11]:
# df_categories.to_csv("/content/drive/My Drive/File/df_categories.csv")

In [12]:
df_categories = pd.read_csv('df_categories.csv')
df_categories.shape

(188536, 61)

In [13]:
'''
Tạo 3 dataframe tương ứng với thông tin sách, thông tin user, thông tin ratings
'''
df_combined = df_all.merge(df_categories, on='Title')
df_combined.head(2)
df_ratings = copy.deepcopy(df_combined)
df_ratings.drop(['review/count', 'review/mean_score'], axis=1, inplace=True)


df_user = df_combined.groupby('User_id')['review/score'].agg(['count', 'mean'])
df_user.columns = ['count', 'mean']
df_user.reset_index(inplace=True)


df_book = df_combined.drop(['User_id', 'review/score'], axis=1, inplace=True)
df_book = df_combined.drop(Categories, axis=1, inplace=True)
df_book = df_combined.drop_duplicates('Title')

In [14]:
# Set user id mới
user_id_map = {user_id: i for i, user_id in enumerate(df_user['User_id'].unique())}
df_user['new_user_id'] = df_user['User_id'].map(user_id_map)
df_user.head(2)

                 User_id  count  mean  new_user_id
0  A00109803PZJ91RLT7DPN      1 5.000            0
1  A00117421L76WVWG4UX95      1 5.000            1

In [15]:
# Set book id mới
book_id_map = {book_id: i for i, book_id in enumerate(df_book['Title'].unique())}
df_book['new_book_id'] = df_book['Title'].map(book_id_map)
df_book = df_book.merge(df_categories, on='Title')
df_book.head(2)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15312\3859650285.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_book['new_book_id'] = df_book['Title'].map(book_id_map)

,Title,categories,review/count,review/mean_score,Unnamed: 0_x,new_book_id,Unnamed: 0_y,others,fiction,religion,...,gardening,study aids,games activities,house home,english language,united states,true crime,design,great britain,animals
0,its only art if its well hung,['comics graphic novels'],1.000,4.000,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,dr seuss american icon,['biography autobiography'],9.000,4.556,56,1,56,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# Xóa đi các cột Title và User_id cũ
df_user_id = copy.deepcopy(df_user)
df_user_id = df_user_id.drop(['count', 'mean'], axis=1)
df_book_title_id = copy.deepcopy(df_book)
df_book_title_id = df_book_title_id.drop(['review/count', 'review/mean_score'], axis=1)
df_book_title_id = df_book_title_id.drop(Categories, axis=1)

df_user.drop(['User_id'], axis=1, inplace=True)
df_book.drop(['Title', 'categories'], axis=1, inplace=True)
df_ratings.drop(['Title', 'User_id'], axis=1, inplace=True)

In [17]:
df_book_title_id.head(5)

,Title,categories,Unnamed: 0_x,new_book_id,Unnamed: 0_y
0,its only art if its well hung,['comics graphic novels'],1,0,1
1,dr seuss american icon,['biography autobiography'],56,1,56
2,wonderful worship in smaller churches,['religion'],21,2,21
3,whispers of the wicked saints,['fiction'],31,3,31
4,nation dance religion identity and cultural di...,NaN,37,4,37

In [18]:
df_book.head(5)

,review/count,review/mean_score,Unnamed: 0_x,new_book_id,Unnamed: 0_y,others,fiction,religion,history,juvenile fiction,...,gardening,study aids,games activities,house home,english language,united states,true crime,design,great britain,animals
0,1.000,4.000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9.000,4.556,56,1,56,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4.000,5.000,21,2,21,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,32.000,3.719,31,3,31,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.000,5.000,37,4,37,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df_user_id.head(5)

                 User_id  new_user_id
0  A00109803PZJ91RLT7DPN            0
1  A00117421L76WVWG4UX95            1
2   A0015610VMNR0JC9XVL1            2
3  A002258237PFYJV336T05            3
4  A00264602WCXBHHFPLTQ4            4

In [20]:
df_user.head(5)

   count  mean  new_user_id
0      1 5.000            0
1      1 5.000            1
2     10 4.600            2
3      1 5.000            3
4      1 5.000            4

In [21]:
df_ratings = df_all.merge(df_user_id, on='User_id').merge(df_book_title_id, on='Title')
df_ratings.drop(['Title', 'User_id', 'review/count', 'review/mean_score'], axis=1, inplace=True)
df_ratings = df_ratings.merge(df_book, on='new_book_id')
df_ratings.drop_duplicates(inplace=True)
df_ratings.head(5)

,review/score,categories_x,new_user_id,categories_y,Unnamed: 0_x_x,new_book_id,Unnamed: 0_y_x,review/count,review/mean_score,Unnamed: 0_x_y,...,gardening,study aids,games activities,house home,english language,united states,true crime,design,great britain,animals
0,4.000,['comics graphic novels'],919242,['comics graphic novels'],1,0,1,1.000,4.000,1,...,0,0,0,0,0,0,0,0,0,0
1,4.000,NaN,919242,NaN,82751,81832,82751,2.000,3.500,82751,...,0,0,0,0,0,0,0,0,0,0
2,3.000,NaN,527153,NaN,82751,81832,82751,2.000,3.500,82751,...,0,0,0,0,0,0,0,0,0,0
3,5.000,['biography autobiography'],508613,['biography autobiography'],56,1,56,9.000,4.556,56,...,0,0,0,0,0,0,0,0,0,0
4,5.000,['biography autobiography'],715617,['biography autobiography'],56,1,56,9.000,4.556,56,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# Hàm chia data thành tập train và test
def split_dataframe(df, holdout_fraction=0.1):
  test = df.sample(frac=holdout_fraction, replace=False)
  train = df[~df.index.isin(test.index)]
  return train, test

Build a tf.SparseTensor of the Rating Matrix

In [23]:
def build_rating_sparse_tensor(df_ratings):
    indices = df_ratings[['new_user_id', 'new_book_id']].values
    values = df_ratings['review/score'].values
    return tf.SparseTensor(
        indices=indices,
        values=values,
        dense_shape=[df_user.shape[0],
                     df_book.shape[0]]
    )

Mean Squared Error

In [24]:
def sparse_mean_square_error(sparse_ratings, user_embeddings, book_embeddings):
    predictions = tf.reduce_sum(
        tf.gather(user_embeddings, sparse_ratings.indices[:, 0]) *
        tf.gather(book_embeddings, sparse_ratings.indices[:, 1]),
        axis=1
    )
    loss = tf.losses.mean_squared_error(sparse_ratings.values, predictions)
    return loss

In [25]:
class CFModel(object):
    def __init__(self, embedding_vars, loss, metrics=None):
        self._embedding_vars = embedding_vars
        self._loss = loss
        self._metrics = metrics
        self._embeddings = {k: None for k in embedding_vars}
        self._session = None

    @property
    def embeddings(self):
        return self._embeddings

    def train(self, num_iterations=100, learning_rate=1.0, plot_results=True,
                optimizer=tf.train.AdamOptimizer):

        with self._loss.graph.as_default():
            opt = optimizer(learning_rate)
            train_op = opt.minimize(self._loss)
            local_init_op = tf.group(
                tf.variables_initializer(opt.variables()),
                tf.local_variables_initializer())
            if self._session is None:
                self._session = tf.Session()
                with self._session.as_default():
                    self._session.run(tf.global_variables_initializer())
                    self._session.run(tf.tables_initializer())
                    #tf.train.start_queue_runners()

        with self._session.as_default():
            local_init_op.run()
            iterations = []
            metrics = self._metrics or ({},)
            metrics_vals = [defaultdict(list) for _ in self._metrics]

            # Train and append results.
            for i in range(num_iterations + 1):
                _, results = self._session.run((train_op, metrics))
                if (i % 10 == 0) or i == num_iterations:
                    print("\r iteration %d: " % i + ", ".join(
                            ["%s=%f" % (k, v) for r in results for k, v in r.items()]),
                            end='')
                    iterations.append(i)
                    for metric_val, result in zip(metrics_vals, results):
                        for k, v in result.items():
                            metric_val[k].append(v)

            for k, v in self._embedding_vars.items():
                self._embeddings[k] = v.eval()

            if plot_results:
                # Plot the metrics.
                num_subplots = len(metrics)+1
                fig = plt.figure()
                fig.set_size_inches(num_subplots*10, 8)
                for i, metric_vals in enumerate(metrics_vals):
                    ax = fig.add_subplot(1, num_subplots, i+1)
                    for k, v in metric_vals.items():
                        ax.plot(iterations, v, label=k)
                    ax.set_xlim([1, num_iterations])
                    ax.legend()
            return results


def build_model(ratings, embedding_dim=3, init_stddev=1.):    
    # Split the ratings DataFrame into train and test.
    train_ratings, test_ratings = split_dataframe(ratings)
    # SparseTensor representation of the train and test datasets.
    A_train = build_rating_sparse_tensor(train_ratings)
    A_test = build_rating_sparse_tensor(test_ratings)
    # Initialize the embeddings using a normal distribution.
    U = tf.Variable(tf.random.normal(
        [A_train.dense_shape[0], embedding_dim], stddev=init_stddev))
    V = tf.Variable(tf.random.normal(
        [A_train.dense_shape[1], embedding_dim], stddev=init_stddev))
    train_loss = sparse_mean_square_error(A_train, U, V)
    test_loss = sparse_mean_square_error(A_test, U, V)
    metrics = {
        'train_error': train_loss,
        'test_error': test_loss
    }
    embeddings = {
        "new_user_id": U,
        "new_book_id": V
    }

    return CFModel(embeddings, train_loss, [metrics])

WARNING:tensorflow:From C:\Users\ASUS\AppData\Local\Temp\ipykernel_15312\1385653231.py:14: The name tf.train.AdamOptimizer is deprecated. Please use tf.compat.v1.train.AdamOptimizer instead.

In [26]:
model = build_model(df_ratings, embedding_dim=30, init_stddev=0.9)
model.train(num_iterations=200, learning_rate=0.01)

WARNING:tensorflow:From C:\Users\ASUS\AppData\Local\Temp\ipykernel_15312\2161603846.py:7: The name tf.losses.mean_squared_error is deprecated. Please use tf.compat.v1.losses.mean_squared_error instead.

 iteration 420: train_error=0.022851, test_error=11.603692

In [ ]:
# def save_model(model, filename):
#     saver = tf.train.Saver()
#     with model._session.as_default():
#         saver.save(model._session, filename)

# save_model(model, '/content/drive/My Drive/File/cf_model.ckpt')

In [ ]:
# DOT = 'DOT'
COSINE = 'COSINE'

def compute_scores(query_embedding, item_embeddings, measure=DOT):
    u = query_embedding
    V = item_embeddings
    if measure == COSINE:
        V = V / np.linalg.norm(V, axis=1, keepdims=True)
        u = u / np.linalg.norm(u)
    scores = u.dot(V.T)
    return scores

In [ ]:
def book_neighbors(model, title_substring, measure, k=10):
    title_substring = title_substring.lower()
    ids = df_book_title_id[df_book_title_id['Title'].str.contains(title_substring)].index.values
    titles = df_book_title_id.iloc[ids]['Title'].values
    if len(titles) == 0:
      raise ValueError(f"Found no books with title {title_substring}")
    print(f"Nearest neighbors of {titles[0]}")
    if len(titles) > 1:
      print(f'Found more than one matching book. Other candidates: {titles[1:3]}...')

    book_id = ids[0]
    scores = compute_scores(
        model.embeddings['new_book_id'][book_id], model.embeddings['new_book_id'], measure
    )

    score_key = measure + ' score'
    df_result = pd.DataFrame({
        score_key: list(scores),
        'Titles': df_book_title_id['Title'],
        'Categories': df_book_title_id['categories']
    })
    display.display(df_result.sort_values([score_key], ascending=False).head(k))

In [ ]:
# book_neighbors(model, 'doctor', 'DOT', 5)
book_neighbors(model, 'HARRY POTTER', 'COSINE', 5)

Nearest neighbors of la doctora the journal of an american doctor practicing medicine on the amazon river
Found more than one matching book. Other candidates: ['doctor dolittles zoo' 'prescription for adventure bush pilot doctor']...

,DOT score,Titles,Categories
235,20.326,la doctora the journal of an american doctor p...,['biography autobiography']
174929,18.836,you can make a stradivarius violin,NaN
183172,18.346,stepping,['selfhelp']
30618,18.239,avoiding static ignition hazards in chemical o...,['technology engineering']
170719,18.171,500 alphabets in cross stitch,['crafts hobbies']

Nearest neighbors of la doctora the journal of an american doctor practicing medicine on the amazon river
Found more than one matching book. Other candidates: ['doctor dolittles zoo' 'prescription for adventure bush pilot doctor']...

,COSINE score,Titles,Categories
235,1.000,la doctora the journal of an american doctor p...,['biography autobiography']
36626,0.713,missal the order of mass in english,['religion']
183172,0.708,stepping,['selfhelp']
91107,0.654,becoming human massey lecture,['humanity']
131564,0.646,androcles and the lion,[]